<!-- <form>
    <input type="text" #firstName placeholder="First Name">
    <input type="text" #lastName placeholder="Last Name">
    <button (click)="submit(firstName , lastName)">Submit</button>
</form> -->

<div class="container">
    <button (click)="addValue()">add value</button>
    <form [formGroup]="myForm">
        <input type="text" formControlName="firstName" placeholder="First Name">
        <span>{{ myForm.get('firstName').valid}}</span>
        <input type="text" formControlName="lastName" placeholder="Last Name">
        <button (click)="submit()">Submit</button>
    </form>
</div>